
section{
    height:100vh;
}

.firsection {
    margin-top: 7%; 
    background-image: url(Gt.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.firsection .container {
    margin-top:20%;
    text-align:center;

}

