body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #576490, #7796CB, #5a7099);
    margin: 0;
    padding: 0;
}

.container {
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



.search-bar {
    position: relative;
    width: 100%;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
}

#suggestions {
    position: absolute;
    top: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    z-index: 1000;
    display: none;
    max-height: 200px;
    overflow-y: auto;
}

#suggestions div {
    padding: 3px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

main.program-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding:10px;
}

.program {
    padding: 15px;
    background-color: #7796cb;
    border: 3px solid #0e4ba7;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.program:hover {
    background-color: #f0f0f0;
}

.program-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.program-info {
    text-align: center;
}

.program-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.program-description {
    font-size: 0.9em;
}